@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("/JordyCorvisier_3_21012021/css/normalize.css");
body {
  font-family: "roboto", sans-serif;
}

/* {
    font-family: 'Shrikhand',sans-serif;
} */
/* -------------- */
/* --- HEADER --- */
/* -------------- */
/* ------------ */
/* Logo du site */
/* ------------ */
header > div > figure {
  height: 40px;
}

.logo-header {
  width: 100%;
  transform: scale(55%);
}

/* ---------------- */
/* Fin Logo du site */
/* ---------------- */
.location-header {
  display: flex;
  justify-content: center;
  padding: 4%;
  background-color: #eaeaea;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);
}

header > div > i {
  margin-right: 2%;
  color: #353535;
}

/* ------------------ */
/* SECTION DECOUVERTE */
/* ------------------ */
.decouverte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  background-color: #f6f6f6;
}

.decouverte > h1 {
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}

.decouverte > p {
  font-style: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #777;
}

.decouverte > a {
  margin: auto;
  border: none;
  border-radius: 40px;
  padding: 5%;
  background: #9356dc;
  background: linear-gradient(345deg, #9356dc 0%, #ff79da 100%);
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/* ------------------ */
/* --- FIN HEADER --- */
/* ------------------ */
/* -------------------------------------- */
/* --- SECTION FONCTIONNEMENT DU SITE --- */
/* -------------------------------------- */
.Fonctionnement > ol {
  list-style-type: none;
  counter-reset: compteur;
  margin: 10% 0 20% 0;
}

.Fonctionnement > ol > li {
  display: grid;
  grid-template-columns: 10px 60px 200px;
  margin: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 90%;
  counter-increment: compteur;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 5px 20px -15px #444;
  vertical-align: middle;
  font-weight: 500;
}
.Fonctionnement > ol > li i {
  margin: auto;
  color: #777;
}

.Fonctionnement > ol > li::before {
  content: counter(compteur);
  position: relative;
  top: 15px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #9356DC;
  color: white;
}

/* ------------------------------------------ */
/* --- FIN SECTION FONCTIONNEMENT DU SITE --- */
/* ------------------------------------------ */
/* ------------------------------------------ */
/* --- SECTION DES DIFFERENTS RESTAURANTS --- */
/* ------------------------------------------ */
.restaurants {
  background-color: #f6f6f6;
  width: 100%;
}
.restaurants > h2 {
  padding: 10% 0 0 4%;
}
.restaurants a {
  text-decoration: none;
}
.restaurants a:any-link {
  color: #333;
}
.restaurants a figure {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  width: 91%;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 20px -15px #444;
}
.restaurants a figure .div-overflow-img {
  overflow: hidden;
  height: 20vh;
}
.restaurants a figure img {
  width: 100%;
  height: auto;
}
.restaurants a figure figcaption {
  display: flex;
  flex-direction: column;
  height: 10vh;
  padding: 0;
  margin: 0;
}
.restaurants a figure figcaption h3 {
  margin-left: 12px;
  padding: 0;
}
.restaurants a figure figcaption p {
  margin-top: -15px;
  margin-left: 12px;
}
.restaurants a figure figcaption i {
  position: absolute;
  bottom: 35px;
  right: 15px;
  transform: scale(150%);
}
.restaurants a figure figcaption i:hover {
  background: #9356dc;
  background: linear-gradient(204deg, #9356dc 0%, #ff79da 100%);
}
.restaurants a figure figcaption .news-on-it {
  position: absolute;
  top: 13px;
  right: 13px;
  margin: 0;
  padding: 5px;
  background-color: #99E2D0;
  color: #028867;
}
.restaurants a:nth-of-type(1) img {
  transform: translateY(-58px);
}
.restaurants a:nth-of-type(2) img {
  transform: translateY(-160px);
}
.restaurants a:nth-of-type(3) img {
  transform: translateY(-65px);
}
.restaurants a:nth-of-type(4) img {
  transform: translateY(-70px);
}

/* ---------------------------------------------- */
/* --- FIN SECTION DES DIFFERENTS RESTAURANTS --- */
/* ---------------------------------------------- */
/* -------------- */
/* --- FOOTER --- */
/* -------------- */
footer {
  padding: 1% 7%;
  background-color: #444;
}
footer h3 {
  font-family: "Shrikhand";
  color: white;
}
footer ul, footer a {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}
footer ul:any-link, footer a:any-link {
  color: white;
}
footer ul i, footer a i {
  display: inline-block;
  width: 25px;
}
footer ul li, footer a li {
  line-height: 1.8em;
}

/*# sourceMappingURL=style.css.map */
