@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('/JordyCorvisier_3_21012021/css/normalize.css');

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiaire: #99E2D0;

body {
    font-family: 'roboto', sans-serif;
}

/* -----------------------*/
/* ---loading Animation---*/
/* -----------------------*/

@-webkit-keyframes spinner-loading {
    0% {
        visibility: visible;
        z-index: 1;
        transform: rotate(0deg);
    }
    
    33% {
        visibility: visible;
        transform: rotate(360deg);
    }
    
    75% {
        visibility: visible;
        transform: rotate(720deg);
    }
    
    100% {
        visibility: visible;
        transform: rotate(720deg);
    }
}

@-webkit-keyframes page-content-appear {
    0% {
        visibility: hidden;
    }
    
    100% {
        visibility: hidden;
    }
}

.spinner-div {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: calc( 50% - 24px);
}

.fa-spinner {
    visibility: hidden;
    font-size: 300%;
    animation: 'spinner-loading' 2s 1s;
    color: $primary-color;
}

.page-content {
    visibility: visible;
    animation: 'page-content-appear' 3s;
}

/* ---------------------------*/
/* ---END loading Animation---*/
/* ---------------------------*/

/* -------------- */
/* --- HEADER --- */
/* -------------- */

/* ------------ */
/* Logo du site */
/* ------------ */

header > div > figure {
    height: 40px;
}

.logo-header {
    width: 100%;
    transform: scale(55%);
}

/* ---------------- */
/* Fin Logo du site */
/* ---------------- */

/* -------------------------------- */
/* ---Formulaire de localisation--- */
/* -------------------------------- */

.form-location {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: #eaeaea;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);
    
    .location-input {
        border: none;
        width: 33%;
        background-color: #eaeaea;
    }
    
    i {
        margin-right: 2%;
        color: #353535;
    }
}

/* ------------------------------------- */
/* --- FIN Formulaire de localisation--- */
/* ------------------------------------- */

/* ------------------ */
/* SECTION DECOUVERTE */
/* ------------------ */

.decouverte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    background-color: #f6f6f6;
}

.decouverte > h1 {
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
}

.decouverte > p {
    font-style: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #777;
}

.decouverte > a {
    margin: auto;
    border: none;
    border-radius: 40px;
    padding: 5%;
    background: rgb(147,86,220);
    background: linear-gradient(345deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transition: all ease .2s;
    
    &:hover {
        transform: scale(1.02);
        opacity: 95%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    }
}

/* ------------------ */
/* --- FIN HEADER --- */
/* ------------------ */

/* -------------------------------------- */
/* --- SECTION FONCTIONNEMENT DU SITE --- */
/* -------------------------------------- */

.Fonctionnement > ol {
    list-style-type: none;
    counter-reset: compteur;
    margin: 10% 0 20% 0;
}

.Fonctionnement > ol > li {
    display: grid;
    grid-template-columns: 10px 60px 200px;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 90%;
    counter-increment: compteur;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0 5px 20px -15px #444;
    vertical-align: middle;
    font-weight: 500;
    
    i {
        margin: auto;
        color: #777;
    }
}

.Fonctionnement > ol > li::before {
    content: counter(compteur);
    position: relative;
    top: 15px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: $primary-color;
    color: white;
    
}

.Fonctionnement > ol > li:hover {
    background-color: #f5edff;
}

/* ------------------------------------------ */
/* --- FIN SECTION FONCTIONNEMENT DU SITE --- */
/* ------------------------------------------ */

/* ------------------------------------------ */
/* --- SECTION DES DIFFERENTS RESTAURANTS --- */
/* ------------------------------------------ */

.restaurants {
    background-color: #f6f6f6;
    width: 100%;
    
    > h2 {
        padding: 10% 0 0 4%
    }
    
    a {
        text-decoration: none;
        &:any-link{color: #333;}
        
        figure {
            position: relative;
            margin: auto;
            margin-bottom: 20px;
            width: 91%;
            overflow: hidden;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 5px 20px -15px #444;
            transition: all ease .2s;
            
            &:hover {
                transform: scale(1.02);
                opacity: 95%;
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            }
            
            .div-overflow-img {
                overflow: hidden;
                height: 20vh;
            }
            
            img {
                width: 100%;
                height: auto;
            }
            
            figcaption {
                
                display: flex;
                flex-direction: column;
                height: 10vh;
                padding: 0;
                margin: 0;
                
                h3 {
                    margin-left: 12px;
                    padding: 0;
                }
                
                p {
                    margin-top: -15px;
                    margin-left: 12px;
                }
                
                i {
                    position: absolute;
                    bottom: 35px;
                    right: 15px;
                    transform: scale(150%);
                }
                
                i.solid {
                    opacity: 0;
                    transition: opacity 0.5s;
                    
                    &:hover{
                        opacity: 1;
                        color: transparent;
                        background: linear-gradient(204deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
                        background-clip: text;
                        
                    }
                }
                
                
                i.solid {
                    /* visibility: hidden; */
                }
                
                .news-on-it {
                    position: absolute;
                    top: 13px;
                    right: 13px;
                    margin: 0;
                    padding: 5px;
                    background-color: #99E2D0;
                    color: #028867;
                }
            }
        }
    }
    
    a:nth-of-type(1) img {
        transform: translateY(-58px);
    }
    
    a:nth-of-type(2) img {
        transform: translateY(-160px);
    }
    
    a:nth-of-type(3) img {
        transform: translateY(-65px);
    }
    
    a:nth-of-type(4) img {
        transform: translateY(-70px);
    }
}

/* ---------------------------------------------- */
/* --- FIN SECTION DES DIFFERENTS RESTAURANTS --- */
/* ---------------------------------------------- */

/* -------------- */
/* --- FOOTER --- */
/* -------------- */

footer {
    
    padding: 1% 7%;
    background-color: #444;
    
    h3 {
        font-family: 'Shrikhand';
        color: white;
    }
    
    ul , a {
        list-style-type: none;
        padding: 0;
        text-decoration: none;
        
        &:any-link {
            color: white;
        }
        
        i {
            display: inline-block;
            width: 25px;
        }
        
        li {
            line-height: 1.8em;
        }
    }
}