@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiaire: #99E2D0;

/* FICHIERS CSS & SCSS */
@import url('/JordyCorvisier_3_21012021/css/normalize.css');
@import "style";
@import "templates_views_restaurants";